*.pyc
*.orig
/mx.verify/env
/mx.verify/eclipse-launches/
/workingsets.xml
/.idea
/mxbuild
/mx.imports
ecj.jar
/javadoc
/gverify/*/nbproject/
/gverify/*/build.xml
/gverify/*/.settings
/gverify/*/.classpath
/gverify/*/.project
/gverify/*/bin/
/gverify/*/.checkstyle
/gverify/*/*.iml
/gverify/*/.factorypath
/gverify/*.dist/
